
$btmBgColor:rgba(31, 124, 255, 1);

.btm-color{
  color: rgba(31, 124, 255, 1) !important;
}

.btm-bg-color{
  background-color: rgba(31, 124, 255, 1) !important;
}

.btm-border-blue-style{
  border: 1px solid rgba(47, 112, 250, 0.3) !important;
}
.btm-ai-btm-bg-color{
  background: linear-gradient(249.61deg, rgba(199, 160, 255, 1) 0%, rgba(135, 119, 255, 1) 11.71%, rgba(82, 128, 252, 1) 49.68%, rgba(84, 164, 255, 1) 74.23%, rgba(60, 209, 246, 1) 90.26%, rgba(116, 255, 205, 1) 100%)  !important;
}


.btm-color-white{
  color: white !important;
}

.normal-text-color{
  color: rgba(31, 35, 41, 1) !important;
}

.text-color-grey{
  color: rgba(100, 106, 115, 1) !important;
}

.text-gray-color-130{
  color: rgb(130, 130, 130) !important;
}