@font-face {
  font-family: "element-icons"; /* Project id 3655333 */
  src: url('iconfont.woff2?t=1675260111525') format('woff2'),
       url('iconfont.woff?t=1675260111525') format('woff'),
       url('iconfont.ttf?t=1675260111525') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-male8:before {
  content: "\e865";
}

.el-icon-nv:before {
  content: "\e6a7";
}

.el-icon-nv1:before {
  content: "\e644";
}

.el-icon-nan:before {
  content: "\e645";
}

.el-icon-united:before {
  content: "\e640";
}

.el-icon-nan1:before {
  content: "\e64b";
}

.el-icon-nannv:before {
  content: "\e7d4";
}

.el-icon-nan2:before {
  content: "\e6ec";
}

.el-icon-nan3:before {
  content: "\e602";
}

.el-icon-nan4:before {
  content: "\e657";
}

.el-icon-nv2:before {
  content: "\e659";
}

.el-icon-24gl-portraitMale3:before {
  content: "\eb23";
}

.el-icon-xingbienannv:before {
  content: "\e662";
}

.el-icon-V:before {
  content: "\e6e9";
}

.el-icon-nanxing-guanliyuan:before {
  content: "\e64d";
}

.el-icon-stranger-full:before {
  content: "\e8f3";
}

.el-icon-nanguanjia:before {
  content: "\e6b1";
}

.el-icon-girl:before {
  content: "\e6aa";
}

.el-icon-girl-fill:before {
  content: "\e6ab";
}

.el-icon-icon-person-xingbie:before {
  content: "\e607";
}

.el-icon-icon-person-nv:before {
  content: "\e608";
}

.el-icon-shouji:before {
  content: "\e692";
}

.el-icon-mima:before {
  content: "\e62f";
}

.el-icon-shouji1:before {
  content: "\e601";
}

.el-icon-youxiang:before {
  content: "\e64c";
}

.el-icon-24gl-mailboxFull:before {
  content: "\e948";
}

.el-icon-shouji2:before {
  content: "\e613";
}

.el-icon-mima1:before {
  content: "\e850";
}

.el-icon-T:before {
  content: "\e788";
}

.el-icon-youxiang1:before {
  content: "\e70c";
}

.el-icon-mima2:before {
  content: "\e634";
}

.el-icon-bqku:before {
  content: "\e689";
}

.el-icon-zhiliaofangfa:before {
  content: "\e80b";
}

.el-icon-10:before {
  content: "\e641";
}

.el-icon-40401:before {
  content: "\e658";
}

.el-icon-icon-test:before {
  content: "\eade";
}

.el-icon-browser-:before {
  content: "\e604";
}

.el-icon-yepian:before {
  content: "\e61d";
}

.el-icon-doctor:before {
  content: "\e8ef";
}

.el-icon-153error40402:before {
  content: "\e7ad";
}

.el-icon-daohang:before {
  content: "\e651";
}

.el-icon-quanping:before {
  content: "\e6e0";
}

.el-icon-quanping1:before {
  content: "\e620";
}

.el-icon-quanping2:before {
  content: "\e8fa";
}

.el-icon-tuichuquanping:before {
  content: "\e8fb";
}

.el-icon-daohang1:before {
  content: "\e8ff";
}

.el-icon-daohang2:before {
  content: "\e66c";
}

.el-icon-quanping3:before {
  content: "\e655";
}

.el-icon-icon--:before {
  content: "\e733";
}

.el-icon-sousuo1:before {
  content: "\e761";
}

.el-icon-daohang3:before {
  content: "\e611";
}

.el-icon-daohang4:before {
  content: "\e656";
}

.el-icon-quanping4:before {
  content: "\e62a";
}

.el-icon-sousuo2:before {
  content: "\e603";
}

.el-icon-quanping5:before {
  content: "\e626";
}

.el-icon-sousuotianchong:before {
  content: "\e694";
}

.el-icon-collapse:before {
  content: "\e6d8";
}

.el-icon-zhankai:before {
  content: "\e64a";
}

.el-icon-sousuo-xianxing:before {
  content: "\e8b8";
}

.el-icon-sousuo:before {
  content: "\e618";
}

.el-icon-zhedie:before {
  content: "\e647";
}

.el-icon-zhankai1:before {
  content: "\e7d3";
}

.el-icon-zhedie1:before {
  content: "\e622";
}

.el-icon-zhedie-zhankai:before {
  content: "\e6d9";
}

.el-icon-zhedie-shouqi:before {
  content: "\e6da";
}

.el-icon-zhibo:before {
  content: "\e65f";
}

.el-icon-xinrenkecheng:before {
  content: "\e600";
}

.el-icon-gerenzhongxin:before {
  content: "\e643";
}

.el-icon-wenzhang:before {
  content: "\e610";
}

.el-icon-wenzhangfenlei:before {
  content: "\e633";
}

.el-icon-jiarubanji:before {
  content: "\e65d";
}

.el-icon-banjiguanli:before {
  content: "\e66d";
}

.el-icon-24gl-folderPlus:before {
  content: "\eabe";
}

.el-icon-xuexiao_banji:before {
  content: "\e661";
}

.el-icon-wodekecheng:before {
  content: "\e614";
}

.el-icon-daoru:before {
  content: "\e744";
}

.el-icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.el-icon-wenzhang1:before {
  content: "\e702";
}

.el-icon-num-list:before {
  content: "\ea3a";
}

.el-icon-xueyuan_moren:before {
  content: "\e625";
}

.el-icon-ddd:before {
  content: "\e61c";
}

.el-icon-ddd1:before {
  content: "\e61f";
}

.el-icon-ddd2:before {
  content: "\e621";
}

.el-icon-xiangmuchuangjian:before {
  content: "\ea47";
}

.el-icon-xueyuanguanli:before {
  content: "\e61a";
}

